@charset "utf-8";
/* CSS Document */


.foot_Add_menu {
  font-size: 26px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 87px;
  top: 2779.393px;
  z-index: 118;
}

.foot_men_num {
  font-size: 26px;
  font-family: "Georgia";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 87px;
  top: 2850.393px;
  z-index: 119;
}

.fb_foot_men_png {
  background-image: url(../images/fb_foot_men.png);
  position: absolute;
  left: 889px;
  top: 2794px;
  width: 61px;
  height: 59px;
  z-index: 122;
}


.twitter_foot_men_png {
  background-image: url(../images/twitter_foot_men.png);
  position: absolute;
  left: 969px;
  top: 2794px;
  width: 62px;
  height: 62px;
  z-index: 121;
}

.insta_foot_men_png {
  background-image: url(../images/insta_foot_men.png);
  position: absolute;
  left: 1049px;
  top: 2794px;
  width: 61px;
  height: 61px;
  z-index: 120;
}



.footer_png {
  background-color: rgb(0, 54, 99);
  position: absolute;
  left: 0px;
  top: 2759px;
  width: 1202px;
  height: 144px;
  z-index: 117;
}
